* {
    margin: 0;
    padding: 0;
}

body {
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

#navbar {
    top: 0;
    position: fixed;
    min-width: 100vw;
    z-index: 999999;
}

.navbar-brand {
    font-family: "lobster", cursive;
    font-size: 100px;
}

#page-content-wrapper-food {
    margin-top: 180px;
}

#card-container {
    margin-top: 100px;
    height: 100%;
    min-width: 100vw;
}

#signup-container {
    border-radius: 20px;
    background-color: whitesmoke;
    box-shadow: 5px 5px 5px 0 grey;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
    #card-container {
        width: 300px;
    }
}

.card {
    margin-top: 200px;
    box-shadow: 5px 5px 5px 0 grey;
}

.auth-notifications {
    margin: .5vh;
}